// Imports google fonts.
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Mukta:wght@200&family=Playfair+Display:ital,wght@1,700&display=swap');

// Sass variables.
$title-font: 'Playfair Display', serif;
$label-font: 'Mukta', sans-serif;
$text-font: 'Lato', sans-serif;
$shamrock: rgb(31, 236, 31);

// Sass mixin with a value ($direction).
@mixin flexbox($direction: column) {
    display: flex;
    flex-direction: $direction;
}

// Group styling.
#currencies, #amounts {
    // Example of using a mixin.
    @include flexbox;
    align-items: center;
}

.label {
    // Example of using a variable.
    font-family: $label-font;
    font-weight: 200px;
}

.menu {
    font-family: $text-font;
    font-weight: 300px;
}

input, button, .text {
    font-family: $text-font;
}

/*
Individual styling using Sass nesting.
The App class is the parent tag holding all of the return information.
*/
.App {
    height: 100vh;
    background: black;
    color: white;
    @include flexbox;
    align-items: center;

    // The header id holds the title: Currency Calculator.
    #header {
        text-align: center;

        .title {
            font-family: $title-font;
            font-weight: 700px;
            font-style: italic;
        }
    }

    // The currencies id holds the from and to input fields, and the arrow icon.
    #currencies {
        #from, #to {
            width: 100%;
            // Example of using a mixin that changes the value.
            @include flexbox($direction: row);
            justify-content: space-between;
            align-items: center;
        }

        .icon {
            transition: 0.7s ease;
        }

        // This styling applies when the user's cursor hovers over the arrow icon.
        .icon:hover {
            color: $shamrock;
            transition: 0.4s ease;
            // Uses the rotation keyframe animation below.
            animation: rotation infinite 3s linear;
            cursor: pointer;
        }
    }

    // The amounts id holds the initial amount input field, button, and converted amount output.
    #amounts {
        #initial, #convert {
            width: 100%;
            @include flexbox;
        }

        #initial {
            gap: 1rem;

            .form {
                @include flexbox($direction: row);
                gap: 5%;

                input {
                    font-weight: 300px;
                }

                button {
                    font-weight: bold;
                }

                button:hover {
                    background: $shamrock;
                    transition: 0.6s ease;
                    cursor: pointer;
                }
            }
        }

        #convert {
            div {
                background: white;

                .text {
                    color: black;
                    font-weight: 300px;
                    margin-left: 2%;
                }
            }
        }
    }
}

// Utilizes keyframe animations to make the arrow icon rotate continuously.
@keyframes rotation {
    // from indicates the beginning of the animation (0%).
    from {
        transform: rotate(0deg);
    }
    // to indicates the ending of the animation (100%).
    to {
        transform: rotate(360deg);
    }
}

// Galaxy Fold sizing.
@media (max-width: 359px) {
    #currencies, #amounts {
        width: 85vw;
    }
    
    .label {
        font-size: 1.75rem;
    }
    
    .menu {
        font-size: 1.2rem;
        width: 65%;
    }
    
    input, button, .text {
        font-size: 1.2rem;
    }
    
    .App {
        gap: 2.5rem;
    
        #header {
            margin-top: 1rem;
    
            .title {
                font-size: 2.8rem;
            }
        }
    
        #currencies {
            gap: 1.5rem;
    
            .icon {
                height: 3rem;
                width: 3rem;
            }
    
            #to {
                .label {
                    margin-left: 6%;
                }
            }
        }
    
        #amounts {
            gap: 2rem;
    
            #initial {
                .form {
                    input {
                        width: 60%;
                    }
    
                    button {
                        width: 35%;
                    }
                }
            }
    
            #convert {
                gap: 0.5rem;
            }
        }
    }
}

// Samsung Galaxy S8+ and iPhone SE sizing.
@media (min-width: 360px) and (max-width: 389px) {
    #currencies, #amounts {
        width: 85vw;
    }
    
    .label {
        font-size: 1.75rem;
    }
    
    .menu {
        font-size: 1.2rem;
        width: 73%;
    }
    
    input, button, .text {
        font-size: 1.2rem;
    }
    
    .App {
        gap: 2rem;
    
        #header {
            margin-top: 0.5rem;
    
            .title {
                font-size: 3.8rem;
            }
        }
    
        #currencies {
            gap: 1rem;
    
            .icon {
                height: 4rem;
                width: 4rem;
            }
    
            #to {
                .label {
                    margin-left: 6%;
                }
            }
        }
    
        #amounts {
            gap: 1.5rem;
    
            #initial {
                .form {
                    input {
                        width: 60%;
                    }
    
                    button {
                        width: 35%;
                    }
                }
            }
    
            #convert {
                gap: 0.5rem;
            }
        }
    }
}

// iPhone 12 Pro, Pixel 5, Samsung Galaxy A51/71, Samsung Galaxy S20 Ultra, and iPhone XR sizing.
@media (min-width: 390px) and (max-width: 539px) {
    #currencies, #amounts {
        width: 85vw;
    }
    
    .label {
        font-size: 1.75rem;
    }
    
    .menu {
        font-size: 1.2rem;
        width: 75%;
    }
    
    input, button, .text {
        font-size: 1.2rem;
    }
    
    .App {
        gap: 2rem;
    
        #header {
            margin-top: 0.5rem;
    
            .title {
                font-size: 4.4rem;
            }
        }
    
        #currencies {
            gap: 1rem;
    
            .icon {
                height: 6rem;
                width: 6rem;
            }
    
            #to {
                .label {
                    margin-left: 5%;
                }
            }
        }
    
        #amounts {
            gap: 1.5rem;
    
            #initial {
                .form {
                    input {
                        width: 60%;
                    }
    
                    button {
                        width: 35%;
                    }
                }
            }
    
            #convert {
                gap: 0.5rem;
            }
        }
    }
}

// Surface Duo sizing.
@media (min-width: 540px) and (max-width: 767px) {
    #currencies, #amounts {
        width: 85vw;
    }
    
    .label {
        font-size: 1.75rem;
    }
    
    .menu {
        font-size: 1.2rem;
        width: 80%;
    }
    
    input, button, .text {
        font-size: 1.2rem;
    }
    
    .App {
        gap: 3rem;
    
        #header {
            margin-top: 2rem;
    
            .title {
                font-size: 3.3rem;
            }
        }
    
        #currencies {
            gap: 2rem;
    
            .icon {
                height: 5rem;
                width: 5rem;
            }
    
            #to {
                .label {
                    margin-left: 3%;
                }
            }
        }
    
        #amounts {
            gap: 2rem;
    
            #initial {
                .form {
                    input {
                        width: 60%;
                    }
    
                    button {
                        width: 35%;
                    }
                }
            }
    
            #convert {
                gap: 0.5rem;
            }
        }
    }
}

// iPad Mini and iPad Air sizing
@media (min-width: 768px) and (max-width: 911px) {
    #currencies, #amounts {
        width: 85vw;
    }
    
    .label {
        font-size: 2.5rem;
    }
    
    .menu {
        font-size: 1.8rem;
        width: 80%;
    }
    
    input, button, .text {
        font-size: 1.8rem;
    }
    
    .App {
        gap: 3rem;
    
        #header {
            margin-top: 2rem;
    
            .title {
                font-size: 4.6rem;
            }
        }
    
        #currencies {
            gap: 2rem;
    
            .icon {
                height: 8rem;
                width: 8rem;
            }
    
            #to {
                .label {
                    margin-left: 3%;
                }
            }
        }
    
        #amounts {
            gap: 2rem;
    
            #initial {
                .form {
                    input {
                        width: 60%;
                    }
    
                    button {
                        width: 35%;
                    }
                }
            }
    
            #convert {
                gap: 0.5rem;
            }
        }
    }
}

// Surface Pro 7 sizing.
@media (min-width: 912px) and (max-width: 1024px) {
    #currencies, #amounts {
        width: 85vw;
    }
    
    .label {
        font-size: 3.5rem;
    }
    
    .menu {
        font-size: 2rem;
        width: 80%;
    }
    
    input, button, .text {
        font-size: 2rem;
    }
    
    .App {
        gap: 5rem;
    
        #header {
            margin-top: 3rem;
    
            .title {
                font-size: 5.4rem;
            }
        }
    
        #currencies {
            gap: 3rem;
    
            .icon {
                height: 8rem;
                width: 8rem;
            }
    
            #to {
                .label {
                    margin-left: 3%;
                }
            }
        }
    
        #amounts {
            gap: 5rem;
    
            #initial {
                .form {
                    input {
                        width: 60%;
                    }
    
                    button {
                        width: 35%;
                    }
                }
            }
    
            #convert {
                gap: 0.5rem;
            }
        }
    }
}

// Laptop sizing.
@media (min-width: 1025px) {
    #currencies, #amounts {
        width: 40vw;
    }
    
    .label {
        font-size: 2rem;
    }
    
    .menu {
        font-size: 1rem;
        width: 85%;
    }
    
    input, button, .text {
        font-size: 1rem;
    }
    
    .App {
        gap: 3rem;
    
        #header {
            margin-top: 1.5rem;
    
            .title {
                font-size: 5rem;
            }
        }
    
        #currencies {
            gap: 1rem;
    
            .icon {
                height: 5rem;
                width: 5rem;
            }
    
            #to {
                .label {
                    margin-left: 2.5%;
                }
            }
        }
    
        #amounts {
            gap: 2rem;
    
            #initial {
                .form {
                    input {
                        width: 70%;
                    }
    
                    button {
                        width: 25%;
                    }
                }
            }
    
            #convert {
                gap: 1rem;
            }
        }
    }
}